body{
    background-image: url('polar40_000.png'); 
    background-position: center; 
    background-size: cover;
    color: whitesmoke;
    margin: 3rem;
}

p{
    background-color: black;
}

a{
    color: aqua;
}